.board {
    margin: -48rem !important;
    height: 2100px !important;
    width: 3360px !important;
    transform: scale(0.23) !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}
.board-card {
    height: 1680px !important;
    width: 2940px !important;
    display: flex !important;
    flex-direction: column !important;
    // justify-content: center !important;
    // align-items: center !important;
}
.row {
    display: flex !important;
}

.cell {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../docs/images/grassZelda.png);
    background-repeat: repeat;
    width: 420px;
    height: 420px;
    border: 1px solid rgb(26, 122, 47);
    box-sizing: border-box; 
}

.player {
    position: absolute;
    width: 240px;
    height: 372px;
    background-image: url(../../docs/images/moipixel.png);
    transform: scale(1);
    z-index: 2;
}

.cv {
    position: absolute;
    width: 360px;
    height: 360px;
    background-image: url(../../docs/images/iconecv.png);
    background-size: contain;
    transform: scale(0.8);
    z-index: 1;

}

.git {
    position: absolute;
    width: 360px;
    height: 360px;
    background-image: url(../../docs/images/iconegit.png);
    background-size: contain;
    transform: scale(0.9);
    z-index: 1;

}

.tree {
    width: 420px;
    height: 420px;
    background-image: url(../../docs/images/treeOnGrass.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 25%;
    transform: scale(0.90);
    z-index: 1;
}

.coord {
    background-color: #ffffff;
    font-size: 3em;
    font-weight: bold;
    color: rgb(219, 24, 24);
    z-index: 10;
}