.header {

  margin-top: 1rem;

  &-card {
    text-align: center;
    border: none !important;
  
    &-body {
    margin-top: 1rem;
    font-size: 1rem;

    }

    &-image {
      margin: auto;
      max-width: 80%;

    }
  }
}
