.modal {
  --bs-modal-width: 600px;

  &-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
