.modal {
  --bs-modal-width: 600px;

  &-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

// @media (max-width: 900px) {

//   .modal {
//     // --bs-modal-width: 320px !important;
//   }

//   // .reactPlayer {
//   //   // width: 320;
//   // }


// }
